
@{
    ViewData["Title"] = "AccesoDenegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">No tienes permiso para acceder a esta session</h1>

<h2>Si desea puede iniciar session en el siguiente enlace <a asp-action="Login" asp-controller="User">Iniciar Session</a> </h2> 